#logo {
    display: flex;
    justify-content: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product {
    border: 3px solid deepskyblue;
    border-radius: 30px;
    background: aliceblue;
    margin: 10px;
    width: 700px;
    padding: 10px;
}

.product .name{
    font-size: 22px;
}

.product .brand {
    font-size: 18px;
}

.product .price {
    font-size: 15px;
    display: inline-block;
}

.product .quantity {
    font-size: 15px;
    display: inline-block;
    margin-left: 40px;
}

.product div {
    margin: 10px;
}

#menu {
    display: flex;
    justify-content: center;

}

#menu a {
    margin: 5px 15px;
    font-size: large;
}