<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hatkor Sklep</title>
    <link rel="stylesheet" href="main.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

    <!-- Milligram CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

</head>
<body>
<div class="contener">
    <div id="logo" class="container"> <a href="/main"><img src="logo.png"></a></div>

    <nav class="nav-bar-cell1-rev">
        <div id="menu" class="container">
            <div class="row">
                <div class="column">
                    <a th:if="${logged == true}" href="/cart" class="button button-outline float-left">Koszyk</a>
                    <a th:if="${logged == true}" href="/orders" class="button button-outline float-left">Moje zamówienia</a>
                    <a th:if="${logged == false}" href="/login" class="button float-right">Zaloguj się</a>
                    <a th:if="${logged == false}" href="/signup" class="button button-outline float-right">Zarejestruj się</a>
                    <a th:if="${logged == true}" href="/logout" class="button button-outline float-right">Wyloguj się</a>
                </div>
            </div>
        </div>
    </nav>
    <br><br><br>
    <div id="content" class="container">
        <table>
            <tbody>
                <div th:each="product : ${products}" class="container">
                    <tr>
                        <td>
                            <div th:text="${product.name}" class="name"></div>
                            <div th:text="${product.brand}" class="brand"></div>
                            <div th:text="'Cena: ' + ${product.price}" class="price"></div>
                            <div th:text="'Sztuk: ' + ${product.quantity}" class="quantity"></div>
                            <a th:if="${logged == true}" th:href="@{/cart/add/{id}(id=${product.id})}" class="button">Do koszyka</a>
                        </td>
                    </tr>
                </div>
            </tbody>
        </table>
    </div>

    <footer class="contact">
        <div class="container">
            <a href="/contact" class="button button-outline">Kontakt</a>
        </div>
    </footer>
</div>
</body>
</html>